.package-item {
    margin-bottom: 32px;
}

.package-item-action > h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.package-item-action {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package-item-action > a {
    font-size: 20px;
    padding: 8px 16px;
    height: 44px;
    white-space: nowrap;
}

.package-item-action > a > i {
    margin-right: 16px;
}

.slick-dots li button:before {
    color: white;
}

.slick-dots li button:before {
    opacity: 50%;
}

.slick-dots li.slick-active button:before {
    color: #f68b1f;
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title > .current-price {
    color: #f68b1f;
}

.product-title > * {
    margin: 0;
    padding: 0;
}

.product-description {
    margin-top: 16px;
}

.package-item > img {
    border-radius: 12px;
}
